@import "mixin";
$baseColor:#c4483c;
/* 文字黑色 */
$baseFontColor:#323233;
/* 浅黑色 */
$base666Color:#666666;
/* 背景灰 */
$baseBgPrey:#efeff0;












/* 组件样式 */
/* 头部高度 */
$headerHeight:1.062802rem;
/* tabbar */
$tabbarHeight:1.191626rem;
$tabbarBg:#383838;