html,
body {
  height: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
}

a {
  &:active,
  &:hover,
  &:link,
  &:visited {
    color: $baseFontColor;
    text-decoration: none;
  }
}

input{
  outline: none;
  border: none;
}

/* 毛玻璃 */
.blur {
  //   filter: url(blur.svg#blur);
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(10px);
  /* Chrome, Opera */
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
  /* IE6~IE9 */
}
