/* 转换UI图像素为css像素 */
@function ui2css($ui,$dpr:3){
    @return ($ui / $dpr) * 1px;
}
/* flexible.js  用px处理文字 */
@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}

@mixin text-overflow(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* flex垂直水平居中 */
@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* flex垂直居中 */
@mixin flexCenterH{
    display: flex;
    align-items: center;
}
/* flex竖直方向占满全屏 */
@mixin flexColumn{
    display: flex;
    flex: auto;
    flex-direction: column;
}



