/* 按钮 */

.mint-button {
  height: .917874rem;
  border:3px solid $baseColor;
  background: transparent;
  @include font-dpr(16px);
  color: $baseColor;
  border-radius: .402576rem;
}
.mint-button--default:active{
  background: $baseColor;
  color: #ffffff;
}
.mint-button:not(.is-disabled):active::after{
  opacity: 0;
}
.mint-button--default {
  padding: 0;
  box-shadow: none;
}
